requests==2.32.3
rich==13.7.1
scipy==1.13.1
seaborn==0.13.2
setuptools==69.5.1
six==1.16.0
SQLAlchemy==1.2.13
sqlglot==25.21.3
sympy==1.13.1
tbb==2021.13.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
torch==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.3.6
ultralytics-thop==2.0.0
urllib3==2.2.2
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
zipp==3.19.2
